.login {
    padding-top: 9%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.login-input {
    border-width: 2px;
    border-color: orange;
    width: 330px;
}

.login-button {
    background-image: linear-gradient(to right bottom, yellow, red );
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    margin-top: 20px;
}